<a href="https://colab.research.google.com/github/ultranet1/14-Lesser-Known-Impressive-Features-in-Scikit-learn-Library/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [6]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/V INTERN/BCG/ml_case_training_data.csv')
data

                                     id  ...  pow_max
0      48ada52261e7cf58715202705a0451c9  ...  180.000
1      24011ae4ebbe3035111d65fa7c15bc57  ...   43.648
2      d29c2c54acc38ff3c0614d0a653813dd  ...   13.800
3      764c75f661154dac3a6c254cd082ea7d  ...   13.856
4      bba03439a292a1e166f80264c16191cb  ...   13.200
...                                 ...  ...      ...
16091  18463073fb097fc0ac5d3e040f356987  ...   15.000
16092  d0a6f71671571ed83b2645d23af6de00  ...    6.000
16093  10e6828ddd62cbcf687cb74928c4c2d2  ...   15.935
16094  1cf20fd6206d7678d5bcafd28c53b4db  ...   11.000
16095  563dde550fd624d7352f3de77c0cdfcd  ...   10.392

[16096 rows x 32 columns]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16096 entries, 0 to 16095
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        16096 non-null  object
 1   activity_new              6551 non-null   object
 2   campaign_disc_ele         0 non-null      float64
 3   channel_sales             11878 non-null  object
 4   cons_12m                  16096 non-null  int64
 5   cons_gas_12m              16096 non-null  int64
 6   cons_last_month           16096 non-null  int64
 7   date_activ                16096 non-null  object
 8   date_end                  16094 non-null  object
 9   date_first_activ          3508 non-null   object
 10  date_modif_prod           15939 non-null  object
 11  date_renewal              16056 non-null  object
 12  forecast_base_bill_ele    3508 non-null   float64
 13  forecast_base_bill_year   3508 non-null   float64
 14  forecast_bill_12m         3508 non-null   float64
 15  forecast_cons             3508 non-null   float64
 16  forecast_cons_12m         16096 non-null  float64
 17  forecast_cons_year        16096 non-null  int64
 18  forecast_discount_energy  15970 non-null  float64
 19  forecast_meter_rent_12m   16096 non-null  float64
 20  forecast_price_energy_p1  15970 non-null  float64
 21  forecast_price_energy_p2  15970 non-null  float64
 22  forecast_price_pow_p1     15970 non-null  float64
 23  has_gas                   16096 non-null  object
 24  imp_cons                  16096 non-null  float64
 25  margin_gross_pow_ele      16083 non-null  float64
 26  margin_net_pow_ele        16083 non-null  float64
 27  nb_prod_act               16096 non-null  int64
 28  net_margin                16081 non-null  float64
 29  num_years_antig           16096 non-null  int64
 30  origin_up                 16009 non-null  object
 31  pow_max                   16093 non-null  float64
dtypes: float64(16), int64(6), object(10)
memory usage: 3.9+ MB